<div class="panel panel-default post-form-panel">
    <div class="panel-body">
        <%= form_for(Listing.new) do |f| %>
        <div class="col-xs-12">
            <div class="field">
                <%= f.label :title %><br>
                <%= f.text_field :title, class: "form-control" %>
            </div>
        </div>
        <div class="col-xs-12">
              <div class="field">
                <%= f.label :description %><br>
                <%= f.text_area :description, class: "form-control" %>
              </div>
        </div>
        <div class="col-xs-12 col-sm-6">
              <div class="field">
                <%= f.label :images_files %><br>
                <%= f.attachment_field :images_files, multiple: true, presigned: true, direct: true %>
              </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="actions">
                <%= f.submit "Add Post", class: "btn btn-submit" %>
            </div>
        </div>
        <% end %>
    </div>
</div>