<% if current_user != nil %>
<!--<div class="panel panel-default post-form-panel">
  <div class="panel-body">
    <div class="col-xs-12 padding-left-right-0">
      <%= form_for(@newPost) do |f| %>
            <div class="field">
              <!--<%= f.text_field :description, class: "form-control", placeholder: "sellacar...", :maxlength=>"140" %>
              <input  maxlength="100" type="text" class="form-control" placeholder="sellacar" data-toggle="modal" data-target="#myModal" />
            <!--</div>
          <!--<div class="col-xs-12 col-sm-2">
            <div class="field">
              <span class="right"><%= f.submit "Add Post", class: "btn btn-submit" %></span>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>-->
<% end %>