<%= form_for(@listing) do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :year %><br>
    <%= f.text_field :year %>
  </div>
  <div class="field">
    <%= f.label :make %><br>
    <%= f.text_field :make %>
  </div>
  <div class="field">
    <%= f.label :model %><br>
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :model_detail %><br>
    <%= f.text_field :model_detail %>
  </div>
  <div class="field">
    <%= f.label :kilometres %><br>
    <%= f.text_field :kilometres %>
  </div>
  <div class="field">
    <%= f.label :ext_colout %><br>
    <%= f.text_field :ext_colout %>
  </div>
  <div class="field">
    <%= f.label :int_colour %><br>
    <%= f.text_field :int_colour %>
  </div>
  <div class="field">
    <%= f.label :no_doors %><br>
    <%= f.text_field :no_doors %>
  </div>
  <div class="field">
    <%= f.label :body_style %><br>
    <%= f.text_field :body_style %>
  </div>
  <div class="field">
    <%= f.label :fuel_type %><br>
    <%= f.text_field :fuel_type %>
  </div>
  <div class="field">
    <%= f.label :cylinders %><br>
    <%= f.text_field :cylinders %>
  </div>
  <div class="field">
    <%= f.label :engine_size %><br>
    <%= f.text_field :engine_size %>
  </div>
  <div class="field">
    <%= f.label :transmission %><br>
    <%= f.text_field :transmission %>
  </div>
  <div class="field">
    <%= f.label :off_road %><br>
    <%= f.check_box :off_road %>
  </div>
  <div class="field">
    <%= f.label :no_owners %><br>
    <%= f.text_field :no_owners %>
  </div>
  <div class="field">
    <%= f.label :import_history %><br>
    <%= f.text_field :import_history %>
  </div>
  <div class="field">
    <%= f.label :rego_expiry %><br>
    <%= f.date_select :rego_expiry %>
  </div>
  <div class="field">
    <%= f.label :wof_expiry %><br>
    <%= f.date_select :wof_expiry %>
  </div>
  <div class="field">
    <%= f.label :no_plate %><br>
    <%= f.text_field :no_plate %>
  </div>
  <div class="field">
    <%= f.label :aa_inspection %><br>
    <%= f.check_box :aa_inspection %>
  </div>
  <div class="field">
    <%= f.label :stereo_descripton %><br>
    <%= f.text_area :stereo_descripton %>
  </div>
  <div class="field">
    <%= f.label :abs_brakes %><br>
    <%= f.check_box :abs_brakes %>
  </div>
  <div class="field">
    <%= f.label :air_con %><br>
    <%= f.check_box :air_con %>
  </div>
  <div class="field">
    <%= f.label :alarm %><br>
    <%= f.check_box :alarm %>
  </div>
  <div class="field">
    <%= f.label :alloy_wheels %><br>
    <%= f.check_box :alloy_wheels %>
  </div>
  <div class="field">
    <%= f.label :central_locking %><br>
    <%= f.check_box :central_locking %>
  </div>
  <div class="field">
    <%= f.label :driver_airbag %><br>
    <%= f.check_box :driver_airbag %>
  </div>
  <div class="field">
    <%= f.label :passenger_airbag %><br>
    <%= f.check_box :passenger_airbag %>
  </div>
  <div class="field">
    <%= f.label :power_steering %><br>
    <%= f.check_box :power_steering %>
  </div>
  <div class="field">
    <%= f.label :sunroof %><br>
    <%= f.check_box :sunroof %>
  </div>
  <div class="field">
    <%= f.label :towbar %><br>
    <%= f.check_box :towbar %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :images_files %><br>
    <%= f.attachment_field :images_files, multiple: true, presigned: true, direct: true %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
