<p id="notice"><%= notice %></p>

<h1>Listings</h1>

<!--<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Year</th>
      <th>Make</th>
      <th>Model</th>
      <th>Model detail</th>
      <th>Kilometres</th>
      <th>Ext colout</th>
      <th>Int colour</th>
      <th>No doors</th>
      <th>Body style</th>
      <th>Fuel type</th>
      <th>Cylinders</th>
      <th>Engine size</th>
      <th>Transmission</th>
      <th>4wd</th>
      <th>No owners</th>
      <th>Import history</th>
      <th>Rego expiry</th>
      <th>Wof expiry</th>
      <th>No plate</th>
      <th>Aa inspection</th>
      <th>Stereo descripton</th>
      <th>Abs brakes</th>
      <th>Air con</th>
      <th>Alarm</th>
      <th>Alloy wheels</th>
      <th>Central locking</th>
      <th>Driver airbag</th>
      <th>Passenger airbag</th>
      <th>Power steering</th>
      <th>Sunroof</th>
      <th>Towbar</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.title %></td>
        <td><%= listing.year %></td>
        <td><%= listing.make %></td>
        <td><%= listing.model %></td>
        <td><%= listing.model_detail %></td>
        <td><%= listing.kilometres %></td>
        <td><%= listing.ext_colout %></td>
        <td><%= listing.int_colour %></td>
        <td><%= listing.no_doors %></td>
        <td><%= listing.body_style %></td>
        <td><%= listing.fuel_type %></td>
        <td><%= listing.cylinders %></td>
        <td><%= listing.engine_size %></td>
        <td><%= listing.transmission %></td>
        <td><%= listing.off_road %></td>
        <td><%= listing.no_owners %></td>
        <td><%= listing.import_history %></td>
        <td><%= listing.rego_expiry %></td>
        <td><%= listing.wof_expiry %></td>
        <td><%= listing.no_plate %></td>
        <td><%= listing.aa_inspection %></td>
        <td><%= listing.stereo_descripton %></td>
        <td><%= listing.abs_brakes %></td>
        <td><%= listing.air_con %></td>
        <td><%= listing.alarm %></td>
        <td><%= listing.alloy_wheels %></td>
        <td><%= listing.central_locking %></td>
        <td><%= listing.driver_airbag %></td>
        <td><%= listing.passenger_airbag %></td>
        <td><%= listing.power_steering %></td>
        <td><%= listing.sunroof %></td>
        <td><%= listing.towbar %></td>
        <td><%= listing.description %></td>
        <td><%= link_to 'Show', listing %></td>
        <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
        <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>-->
<% for @p in @listings %>
      <% @username = User.find_by_id(@p.user_id).username %>
      <div class="panel panel-default post-panel">
        <div class="panel-body">
          <div class="col-xs-1 padding-0">
            <img class="rounded-img" src="avatar.png" width="100%" />
          </div>
          <div class="col-xs-11">
            <p class="post-title"><span class="post-owner"><a href="/user/<%= @username %>"><%= @username %></a></span><span class="post-creation"> - <%= @p.created_at.to_formatted_s(:short) %></p>
            <p class="post-content"><%= @p.description %></p>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <p class="post-links">
                <span class="glyphicon glyphicon-comment g-links" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-retweet g-links" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-heart g-links" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-option-horizontal g-links" aria-hidden="true"></span>
                <a href="/listings/<%= @p.id %>">View listing</a>
              </p>
            </div>
          </div>
          
        </div>
      </div>
      <% end %>