<p id="notice"><%= notice %></p>
<p>
  <% @listing.images.each do |i| %>
    <%= attachment_image_tag(i, :file, format: "jpg") %>
  <% end %>
</p>
<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Year:</strong>
  <%= @listing.year %>
</p>

<p>
  <strong>Make:</strong>
  <%= @listing.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @listing.model %>
</p>

<p>
  <strong>Model detail:</strong>
  <%= @listing.model_detail %>
</p>

<p>
  <strong>Kilometres:</strong>
  <%= @listing.kilometres %>
</p>

<p>
  <strong>Ext colout:</strong>
  <%= @listing.ext_colout %>
</p>

<p>
  <strong>Int colour:</strong>
  <%= @listing.int_colour %>
</p>

<p>
  <strong>No doors:</strong>
  <%= @listing.no_doors %>
</p>

<p>
  <strong>Body style:</strong>
  <%= @listing.body_style %>
</p>

<p>
  <strong>Fuel type:</strong>
  <%= @listing.fuel_type %>
</p>

<p>
  <strong>Cylinders:</strong>
  <%= @listing.cylinders %>
</p>

<p>
  <strong>Engine size:</strong>
  <%= @listing.engine_size %>
</p>

<p>
  <strong>Transmission:</strong>
  <%= @listing.transmission %>
</p>

<p>
  <strong>4wd:</strong>
  <%= @listing.off_road %>
</p>

<p>
  <strong>No owners:</strong>
  <%= @listing.no_owners %>
</p>

<p>
  <strong>Import history:</strong>
  <%= @listing.import_history %>
</p>

<p>
  <strong>Rego expiry:</strong>
  <%= @listing.rego_expiry %>
</p>

<p>
  <strong>Wof expiry:</strong>
  <%= @listing.wof_expiry %>
</p>

<p>
  <strong>No plate:</strong>
  <%= @listing.no_plate %>
</p>

<p>
  <strong>Aa inspection:</strong>
  <%= @listing.aa_inspection %>
</p>

<p>
  <strong>Stereo descripton:</strong>
  <%= @listing.stereo_descripton %>
</p>

<p>
  <strong>Abs brakes:</strong>
  <%= @listing.abs_brakes %>
</p>

<p>
  <strong>Air con:</strong>
  <%= @listing.air_con %>
</p>

<p>
  <strong>Alarm:</strong>
  <%= @listing.alarm %>
</p>

<p>
  <strong>Alloy wheels:</strong>
  <%= @listing.alloy_wheels %>
</p>

<p>
  <strong>Central locking:</strong>
  <%= @listing.central_locking %>
</p>

<p>
  <strong>Driver airbag:</strong>
  <%= @listing.driver_airbag %>
</p>

<p>
  <strong>Passenger airbag:</strong>
  <%= @listing.passenger_airbag %>
</p>

<p>
  <strong>Power steering:</strong>
  <%= @listing.power_steering %>
</p>

<p>
  <strong>Sunroof:</strong>
  <%= @listing.sunroof %>
</p>

<p>
  <strong>Towbar:</strong>
  <%= @listing.towbar %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<% if current_user != nil %><% if current_user.id == @listing.user_id %> <%= link_to 'Edit', edit_listing_path(@listing) %> | <% end %><% end %>
<%= link_to 'Back', :back %>
