<a name="top"></a>
<div  class="row">
    <% if current_user != nil %>
    <div class="col-xs-12 col-sm-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="panel-image hide-panel-body"><img class="panel-image-preview" src="/bg.jpg" /></div>
          </div>
          <div class="panel-footer">
            <div class="row panel-footer-content">
              <div class="col-xs-4 padding-0">
                <div class="panel panel-default home-avatar-panel">
                <center><img src="/avatar.png" class="rounded-img home-avatar" /></center>
                </div>
              </div>
              <div class="col-xs-8">
                <h4 class=""><a href="/user/<%= @username %>"><%= @username %></a></h4>
              </div>
              <div class="col-xs-12">
                <div class="col-xs-4 padding-left-0">
                  <h6 class="opacity-7 font-size-10">LISTINGS</h6>
                </div>
                <div class="col-xs-4 padding-left-0">
                  <h6 class="opacity-7 font-size-10">FOLLOWERS</h6>
                </div>
                <div class="col-xs-4 padding-left-0">
                  <h6 class="opacity-7 font-size-10">FOLLOWING</h6>
                </div>
              </div>
              <div class="col-xs-12">
                <div class="col-xs-4 padding-left-0">
                  <h6 class="blue-text font-size-20 opacity-7"><%= @user_posts_count %></h6>
                </div>
                <div class="col-xs-4 padding-left-0">
                  <h6 class="blue-text font-size-20 opacity-7"><%= @followers_count %></h6>
                </div>
                <div class="col-xs-4 padding-left-0">
                  <h6 class="blue-text font-size-20 opacity-7"><%= @following_count %></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <% else %>
    <div class="col-xs-12 col-sm-3">
      &nbsp;
    </div>
    <% end %>
    
    <div class="col-xs-12 col-sm-6">
      <%= render '/components/post_form' %>
      
      <% for @p in @posts %>
      <% @username = User.find_by_id(@p.user_id).username %>
      <div class="panel panel-default post-panel">
        <div class="panel-body">
          <div class="col-xs-3 padding-0 listing-thumbnail">
            <%= attachment_image_tag(@p.images.first, :file) %>
          </div>
          <div class="col-xs-9">
            <p class="post-title"><strong><%= @p.title %></strong> | <span class="post-owner"><a href="/user/<%= @username %>"><%= @username %></a></span><span class="post-creation"> - <%= @p.created_at.to_formatted_s(:short) %></p>
            <p class="post-content"><%= @p.description %></p>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <p class="post-links">
                <span class="glyphicon glyphicon-comment g-links" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-retweet g-links" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-heart g-links" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-option-horizontal g-links" aria-hidden="true"></span>
                <a href="/listings/<%= @p.id %>">View listing</a>
              </p>
            </div>
          </div>
          
        </div>
      </div>
      <% end %>
      <div class="panel panel-default post-panel">
        <center class="center-text padding-25-0">
          <img src="/flutter.png" width="25" /><br />
          <a href="#top">Back to top <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>
        </center>
      </div>
    </div>
    
    <div class="col-xs-12 col-sm-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <p>about</p>
          </div>
        </div>
    </div>
</div>