<% if !user_signed_in? %>
    <style>
        body {
            background: linear-gradient(
                rgba(0,0,0,0.7),
                rgba(0,0,0,0.7),
                rgba(0,0,0,0.7)), url("/bg.jpg") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        
        h1 {
            color: #ffffff;
            font-weight: bold;
        }
        
        .container-index {
            margin-right: 15%;
            margin-left: 15%;
        }
        
        .text {
            color: #ffffff;
            font-weight: 500;
            font-size: 130%;
        }
        
        .footer-links {
            text-align: center;
            color: #ffffff;
            position: absolute;
            font-size: 10px;
        }
        
        .log-in {
            margin-top: 25px;
            float: right;
            width: 200px;
            height: 175px;
        }
        
        .sign-up {
            float: right;
            width: 200px;
            height: 200px;
            margin-bottom: 100px;
        }
    </style>
    
    <div class="container-index row">
        <div class="col-sm-6">
            <h1>Welcome to Flutter.</h1>
            <p class="text">
                Connect with your buddies. Chat with new friends. <br /> 
                Share your adventures. Have fun! <br />
                Just like a blog, but with less characters.
            </p>
        </div>
        
        <div class="col-sm-6">
            <div class="log-in panel">
            
            </div>
            
            <div class="sign-up panel">
                
            </div>
        </div>
        
    </div>
    
<% else %>
    <script>//document.location = '/explore';</script>
<% end %>