// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
//@import "font-awesome-sprockets";
//@import "font-awesome";

body {
    background-color: rgba(212, 216, 212, .25);
}

#content {
    margin-bottom: 100px;
}

nav {
    border-radius: 0 !important;
}

.rounded-img {
    border-radius: 5%;
}

.padding-25-0 {
    padding: 25px 0;
}

.navbar {
    background-color: #ffffff;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    margin-right: -12.5px;
}

.post-panel {
    //margin-top: -21px;
}

.padding-0 {
    padding: 0 !important;
}

.padding-right-25 {
    padding-right: 25px !important;
}

.margin-0 {
    margin: 0;
}

.margin-bottom-0 {
    margin-bottom: 0 !important;
}

.margin-top-15 {
    margin-top: 15px !important;
}

.margin-top-12-5 {
    margin-top: 12.5px;
}

.padding-left-0 {
    padding-left: 0 !important;
}

.padding-left-right-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.font-size-10 {
    font-size: 10px;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-20 {
    font-size: 20px;
}

.opacity-7 {
    opacity: 0.7;
}

.right {
    float: right;
}

.blue-text {
    color: blue;
}

.bg-white {
    background-color: #ffffff;
}

.margin-top-min-21 {
    margin-top: -21px;
}

.post-title {
    
}
.post-content {
    text-align: left;
}

.post-links {
    
}

.post-owner {
    color: #000000;
    font-weight: bold;
}

.post-creation {
    opacity: 0.7;
}

.g-links {
    opacity: 0.4;
    margin-right: 12%;
    font-size: 120%;
    cursor: pointer;
}

.post-form-panel {
    //margin-bottom: -21px;
}

.center-text {
    text-align: center;
}

.panel-image{
    margin: -15px !important;
}

.hide-panel-body {
    
}

.panel-image-preview {
    width: 100%;
    border-radius: 4px 4px 0 0;
}

.panel-footer {
    background-color: white;
    margin-top: -15px;
}

.panel-footer-content {
    
}

.home-avatar {
    width: 100%;
}

.home-avatar-panel {
    position: relative;
    margin-top: -35px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.profile-banner {
    width: 100%;
    margin-top: -21px;
    height: 500px;
    background: linear-gradient(
                rgba(0,0,0,0.3),
                rgba(0,0,0,0.3),
                rgba(0,0,0,0.3)), url("/bg.jpg") no-repeat center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.profile-avatar-panel {
    position: relative;
    margin-top: -250px;
}

footer {
    position: fixed;
    bottom: 0 !important;
    right: 15px;
    width: 100%;
}

footer a {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

footer {
    height: 40px !important;
}

.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.notice {
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}

.notice-sm {
    padding: 10px;
    font-size: 80%;
}

.notice-warning {
    border-color: #FEAF20;
}
.notice-warning>strong {
    color: #FEAF20;
}

a#new-listing-btn {
    padding: 6px 30px;
    color: #ffffff;
}

a#new-listing-btn:hover {
    color: #000000;
}

.listing-thumbnail img {
    width: 100% !important;
    margin-bottom: 15px;
}

.notice {
    z-index: 99999 !important;
    position: relative;
    width: 100%;
}