<!DOCTYPE html>
<html>
<head>
  <title>Flutter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<%= render '/layouts/nav' %>

<% if params[:id] != nil %>
  <% @url = '/user/' + params[:id] %>
  <% if current_page?(@url) %>
    <div class="row hidden-xs">
      <div class="col-xs-12">
        <div class="jumbotron margin-0 profile-banner"></div>
      </div>
    </div>
    <div class="row hidden-xs">
        <nav class="navbar navbar-default margin-bottom-0">
          <div class="container-fluid container">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="col-xs-12 col-sm-9 col-sm-offset-3">
              <center>
              <ul class="nav navbar-nav">
                <li><a class="padding-0 padding-right-25" href="">
                  <h6 class="opacity-7 font-size-10">LISTINGS</h6>
                  <h6 class="blue-text font-size-18 opacity-7"><%= @posts_count %></h6>
                </a></li>
                <li><a class="padding-0 padding-right-25" href="/home">
                  <h6 class="opacity-7 font-size-10">FOLLOWERS</h6>
                  <h6 class="blue-text font-size-18 opacity-7"><%= @followers_count %></h6>
                </a></li>
                <li><a class="padding-0 padding-right-25" href="/home">
                  <h6 class="opacity-7 font-size-10">FOLLOWING</h6>
                  <h6 class="blue-text font-size-18 opacity-7"><%= @following_count %></h6>
                </a></li>
              </ul>
              </center>
              <% if current_user != nil %>
              <% @profile = params[:id] %>
              <% if @profile != current_user.username %>
              <ul class="nav navbar-nav navbar-right margin-top-12-5">
                <li><%= render '/components/follow_button', :user => User.find_by_username(params[:id]) %></li>
              </ul>
              <% end %>
              <% end %>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
    </div>
  <% end %>
<% end %>
<div id="content" class="container">
  <% if notice != nil %>
  <div class="notice">
    <strong><%= notice %></strong>
  </div>
  <% end %>
  <% if alert != nil %>
  <div class="notice notice-warning">
    <strong><%= alert %></strong>
  </div>
  <% end %>
  <%= yield %>
</div>

<footer class="row hidden-xs">
    <%= render '/layouts/footer' %>
</footer>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">sellacar</h4>
      </div>
      <div class="modal-body">
        <div class="stepwizard">
          <div class="stepwizard-row setup-panel">
              <div class="stepwizard-step">
                  <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
                  <p>Details</p>
              </div>
              <div class="stepwizard-step">
                  <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                  <p>Photos</p>
              </div>
              <div class="stepwizard-step">
                  <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                  <p>Confirm</p>
              </div>
          </div>
      </div>
      <form role="form">
          <div class="row setup-content" id="step-1">
              <div class="col-xs-12">
                  <div class="col-md-12">
                      <div class="form-group">
                          <label class="control-label">First Name</label>
                          <input  maxlength="100" type="text" required="required" class="form-control" placeholder="Enter First Name"  />
                      </div>
                      <div class="form-group">
                          <label class="control-label">Last Name</label>
                          <input maxlength="100" type="text" required="required" class="form-control" placeholder="Enter Last Name" />
                      </div>
                      <button class="btn btn-primary nextBtn pull-right" type="button" >Next</button>
                  </div>
              </div>
          </div>
          <div class="row setup-content" id="step-2">
              <div class="col-xs-12">
                  <div class="col-md-12">
                      <div class="form-group">
                          <label class="control-label">Company Name</label>
                          <input maxlength="200" type="text" required="required" class="form-control" placeholder="Enter Company Name" />
                      </div>
                      <div class="form-group">
                          <label class="control-label">Company Address</label>
                          <input maxlength="200" type="text" required="required" class="form-control" placeholder="Enter Company Address"  />
                      </div>
                      <button class="btn btn-primary nextBtn pull-right" type="button" >Next</button>
                  </div>
              </div>
          </div>
          <div class="row setup-content" id="step-3">
              <div class="col-xs-12">
                  <div class="col-md-12">
                      <button class="btn btn-success pull-right" type="submit">Finish!</button>
                  </div>
              </div>
          </div>
      </form>
      </div>
    </div>
  </div>
</div>

</body>
</html>
